@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    color: #333333;

    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template: 1fr / 250px 1fr 250px;

    max-width: 1250px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template: 1fr / 1fr;
    }
}