.center {
    z-index: 1000;
    position: relative;

    width: 100%;
    height: 100%;

    /* box-shadow: -1px 0 1px #808080; */
}

.center header {
    z-index: 1010;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: left;
    align-items: center;

    color: #000;
    font-size: 1.3rem;
    font-weight: 500;

    width: calc(100% - 30px);
    height: 60px;
    margin: 0 15px;
    padding-left: 50px;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(209, 209, 209, 1);
    border-right: 1px solid rgba(209, 209, 209, 1);
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.dark .center header {
    color: #fff;
    box-shadow: 0 4px 30px rgba(209, 209, 209, 0.1);
    border-left: 1px solid rgb(131, 131, 131);
    border-right: 1px solid rgb(131, 131, 131);
    border-bottom: 1px solid rgb(131, 131, 131);
}

.center main {
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.center main::-webkit-scrollbar {
    width: 0;
}

.center main .new-post {
    display: grid;
    grid-template: 75% 25% / 100px 1fr;

    width: 100%;
    height: 260px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.dark .center main .new-post {}

.center main .new-post .avatar {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.center main .new-post .avatar .avatar-image {
    width: 60px;
    height: 60px;

    background-image: url('./img/profile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.center main .new-post .text-field {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 30px;
}

.center main .new-post .text-field textarea {
    color: #000;
    font-size: 1.4rem;

    width: 100%;
    height: 90%;
    padding: 10px;

    border: 0;
    outline: none;
    resize: none;
    overflow: hidden;

    background-color: transparent;
}

.dark .center main .new-post .text-field textarea {
    color: #fff;
}

.center main .new-post .options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: 30px;

    width: calc(100% - 40px);
    height: 100%;
    margin-right: 40px;
    padding-right: 40px;

    border-top: 1px solid #b9b9b9;
}

.dark .center main .new-post .options {
    border-top: 1px solid #2f3336;
}

.center main .new-post .options button {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 2px;

    width: 95px;
    height: 38px;

    background-color: #000;
    outline: none;
    cursor: pointer;
    border-radius: 16px;
}

.dark .center main .new-post .options button {
    color: #000;
    background-color: #fff;
}

.center main .new-post .options input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.center main .new-post .options input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

.center main .new-post .options input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

.dark .center main .new-post .options input[type=checkbox]:before,
.dark .center main .new-post .options input[type=checkbox]:checked:before {
    background-color: #000;
    border: 1px solid #fff;
}

.center main .new-post .options input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 16px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -8px;
    left: 3px;
    border-radius: 2px;
}

.dark .center main .new-post .options input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 16px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -8px;
    left: 3px;
}

.center main .post {
    display: grid;
    grid-template: 40px 1fr 60px / 100px 1fr;

    width: 100%;
    margin: 10px 0;
    padding: 5px 0;

    cursor: pointer;
}

.center main .post .avatar {
    grid-area: 1 / 1 / 2 / -2;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.center main .post .avatar .avatar-image {
    width: 60px;
    height: 60px;

    background-image: url('./img/profile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.center main .post .avatar .anon-image {
    width: 60px;
    height: 60px;

    background-image: url('./img/anon5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.center main .post .avatar .user-image {
    width: 60px;
    height: 60px;

    background-image: url('./img/user.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.center main .post .avatar .avatar-image:hover,
.center main .post .avatar .user-image:hover {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

.center main .post .title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;

    width: calc(100% - 130px);
    height: 100%;
    margin-right: 130px;
    padding-left: 5px;

    border-bottom: 1px solid #b9b9b9;
}

.dark .center main .post .title {
    border-bottom: 1px solid #2f3336;
}

.center main .post .title span {
    font-weight: 300;
}

.center main .post .title span:first-child {
    font-weight: 500;
}

.center main .post .content {
    grid-area: 2 / 2;

    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-right: 50px;
}

.center main .post .footer {
    grid-area: 3 / 2 / -1 / -1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-right: 30px;
}

.center main .post .footer .element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;

    font-size: .7rem;
    font-weight: 700;

    width: 60px;
    height: 100%;
    padding: 0 10px;
}

.center main .post .footer .element {
    transition: .2s ease-in-out;
}

.center main .post .footer .element:hover {
    color: var(--clr);
}







.center main .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
}

.center main .loading .circle {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    border: 1px solid #666666;
}


@media screen and (max-width: 1050px) {
    .center {
        z-index: 1000;
        position: relative;

        width: 100vw;
    }

    .center header {
        width: 100%;
        height: 60px;
        margin: 0 0;

        border-radius: 0;
        box-shadow: 0 0 0 #000;
        border-left: 0 solid rgb(56, 56, 56);
        border-right: 0 solid rgb(56, 56, 56);
        border-bottom: 1px solid rgb(179, 179, 179);
    }

    .dark .center header {
        color: #fff;
        box-shadow: 0 0 0 #000;
        border-left: 0 solid rgb(56, 56, 56);
        border-right: 0 solid rgb(56, 56, 56);
        border-bottom: 1px solid rgb(56, 56, 56);
    }

    .center main {
        width: 100%;
        padding: 70px 0 0 0;
    }

    .center main .new-post {
        display: none;
    }

    .center main .post {
        grid-template: 30px 1fr 30px / 60px 1fr;

        margin: 0 0 40px 0;
        padding: 0 0;

        cursor: default;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .center main .post .avatar {
        padding-top: 5px;
    }

    .center main .post .avatar .avatar-image,
    .center main .post .avatar .user-image,
    .center main .post .avatar .anon-image {
        width: 45px;
        height: 45px;
    }

    .center main .post .title {
        gap: 3px;
        font-size: .8rem;

        width: calc(100% - 10px);
        margin-right: 10px;
        padding-left: 0;
    }

    .center main .post .content {
        font-size: .9rem;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .center main .post .footer {
        grid-area: 3 / 1 / -1 / -1;

        justify-content: center;

        width: calc(100% - 20px);
        height: calc(100% - 10px);
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        padding-left: 20px;
        padding-top: 3px;
        padding-right: 0;

        border-top: 1px solid #b9b9b9;
    }

    .dark .center main .post .footer {
        border-top: 1px solid #2f3336;
    }

    .center main .post .footer .element {
        justify-content: center;
        gap: 4px;

        font-size: .6rem;

        width: 45px;
        padding: 0 10px;
    }

    .center main .post .footer .element:nth-child(5),
    .center main .post .footer .element:nth-child(6) {
        width: 35px;
    }

    .center main .post .footer .element span:first-child {
        font-size: .8rem;
    }


    .center main .loading {
        height: 70px;
    }

    .center main .loading .circle {
        width: 30px;
        height: 30px;
    }
}