body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100%;

  background: #f2f2f2;
}

.bars {
  position: fixed;

  display: grid;
  grid-template: 1fr / 1fr 800px 1fr;

  width: 100vw;
}

.left-bar,
.right-bar {
  top: 0;

  width: 300px;
  height: 98vh;

  background-color: #fff;
  border-radius: 8px;
}

.left-bar {
  grid-area: 1 / 1;
  margin: 6px 15px 6px auto;
}

.right-bar {
  grid-area: 1 / -2;
  margin: 6px auto 6px 0;
}

.left-bar .title {
  text-align: center;

  width: 100%;
  height: 8%;
  padding-top: 10px;

  box-sizing: border-box;
}

.left-bar .title h1 {
  margin: 0;
  padding: 0;
}

.left-bar .bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 92%;
}

.left-bar .bar .menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.left-bar .bar .menu .element {
  display: flex;
  align-items: center;

  font-size: medium;

  width: 80%;
  height: 60px;
  margin: 0 auto 0 15%;
}

.left-bar .bar .menu .element .button {
  display: flex;
  align-items: center;

  width: 210px;
  height: 40px;
  padding-left: 10px;

  border-radius: 25px;
  border: 1px solid #fff;

  cursor: pointer;
}

.left-bar .bar .menu .element .button:hover {
  border: 1px solid #000;
}

.left-bar .bar .menu .tweet {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
}

.left-bar .bar .menu .tweet .button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  width: 140px;
  height: 40px;

  background: #000;
  border: 1px solid #000;
  border-radius: 25px;

  cursor: pointer;
}

.left-bar .bar .menu .tweet .button:hover {
  color: #000;
  background: #fff;
}

.left-bar .bar .profile {
  display: flex;
  align-items: center;

  font-size: medium;

  width: 80%;
  height: 60px;
  margin: 0 auto 0 15%;
}


.main {
  z-index: 2;
  width: 750px;
  margin: 0 auto;

  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.main .nav {
  z-index: 2;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;
  height: 50px;

  background: #f2f2f2ee;
}

.main .nav .title {
  padding-left: 20px;
}

.main .posts {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.main .posts .post {
  width: 100%;
  min-height: 300px;

  border-bottom: 1px solid #000;
}