@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 000 000 000;
  --background: 255 255 255;
  --shadow: 225 225 225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255 255 255;
    --background: 000 000 000;
    --shadow: 50 50 50;
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: roboto;

  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

@layer utilities {
  .glass-hover {
    @apply border-[1px] border-transparent;
  }

  .glass,
  .glass-hover:hover {
    @apply border-[1px] border-gray-300 border-solid bg-[color:var(--background)] transition-shadow rounded-2xl shadow-md;
  }

  .glass-border {
    @apply border-[1px] border-gray-300 border-solid;
  }
}
